@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    color: #262626;
    background: #fff;
}

main, #map {
    height: 100%
}

.ARE {
   background: #d57b47;
}

.EAE {
   background: #5d7f2a;
}

.GU {
   background: #37759f;
}

.NUK {
   background: #e7ac0a;
}

.geplant {
   background: #5a6979;
}

#selector {
    font-size: .8em;;
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
}

#selector ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#selector h3 {
    color: #fff;
    margin: .5em 0; 
    font-weight: normal;
    text-shadow: 1px 1px 1px #000,1px -1px 1px #000,-1px 1px 1px #000,-1px -1px 1px #000;
}

#selector li {
    margin: 0 0;
    padding: .5em 1em .5em .8em;
    width: 200px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #7c7c7c;
    border-radius: .2em;
    color: #7c7c7c;
    background-color: #353535;
    white-space: nowrap;
    -webkit-box-shadow: 0 0 5px -1px rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 5px -1px rgba(0,0,0,.75);
    box-shadow: 0 0 5px -1px rgba(0,0,0,.75);
}

#selector li:not(.selected) .bubble {
    background-color: #7c7c7c;
}

#selector li.selected {
    color: #fff;
    background-color: #000;
}

#selector .bubble {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: .3em;
}

div.cartodb-popup.v2.custom {
    background: #666;
}

div.cartodb-popup.v2.custom:before {
    border-top: 14px solid #666;
}

div.cartodb-popup.v2.custom h3,
div.cartodb-popup.v2.custom h4 {
    color: #bbb;
}

div.cartodb-popup.v2.custom p {
    color: #fff;
}

div.cartodb-popup.v2.custom a.cartodb-popup-close-button:after,
div.cartodb-popup.v2 a.cartodb-popup-close-button:before {
    background: #fff;
}

div.cartodb-popup.v2.custom a.cartodb-popup-close-button {
    background: #666;
}

@media all and (max-width: 500px) {
    #selector ul {
        border: 1px solid #7c7c7c;
        background-color: #000;
        padding: 1em;
        border-radius: .5em;
    }

    #selector li.selected {
        background-color: transparent;
    }

    #selector li {
        background-color: transparent;
        padding: 0;
        border: 0;
        border-radius: 0;
        margin-right: .7em;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
         box-shadow: none;
    }
}

@media all and (max-width: 260px) {
    nav {
        display: none
    }
}
