@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body, #map {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    color: #262626;
    background: #fff;
}


#selector {
    font-size: .8em;
}

#selector ul {
    padding: 0; margin: 0;
    list-style-type: none;
}

#selector h3 {
    font-weight: normal;
}

#selector li {
    margin: 1em 0;
    padding: .5em 1em;
    cursor: auto;
    display: inline-block;
    border-radius: .5em;
    background-color: #eee;
}

#selector li:not(:last-child) {
    margin-right: .2em;
}

#selector li.selected {
    background-color: #d1eaf4;
}

#selector li:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: .5em;
    background-color: #69b6d5;
    vertical-align: middle;
}

#selector li:not(.selected):before {
    background-color: #ccc;
}

#selector li:hover {
    background-color: #eee;
    cursor: pointer;
}
