html, body, #map {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Helvetica", Arial;
}

#selector {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
}

#selector ul {
    padding: 0; margin: 0;
    list-style-type: none;
}

#selector h3 {
    padding: 15px 30px;
    margin: 0;
    border-bottom: 1px solid #999;
    background-color: #F0F0F0;
}

#selector li {
    border-bottom: 1px solid #999;
    padding: 15px 30px;
    font-size: 13px;
    color: #444;
    cursor: auto;
}

#selector li:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

#selector li.selected {
    background-color: #EEE;
}
